<!--ユーザー情報-->

<div class="container">
 <div class="row">
  <div class="col-md-3">
   <h2>User info</h2>
    <%= image_tag @user.get_profile_image(100,100) %>
   <table class="table">
    <tr></tr>
    <th>name</th>
    <th><%= @user.name %></th>
    <th>Opinion</th>
    <th><%= @user.introdaction %></th>
    
   </table>
   
  </div>
  
  <!--投稿Booksの部分-->
<h1>Books</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>Title</th>
    <th>Opinion</th>
    <th colspan="8"></th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    <% @books.each do |book| %>

    <%=link_to user_path(@user) do %>
      <%= image_tag @user.get_profile_image(100,100) %>
    <% end %>
   </td>
   <td><%=link_to "", user_path(@user) %></td>
   
<!--本のタイトル-->
   <td>
    <%= link_to book_path(book) do %>
      <%= book.title %>
    <% end %>
    <% end %>
   </td>
  </tr>

 </tbody>

</table>
 </div>
</div>